node_modules/
*.DS_Store
*.env
dist/

# venv
thinkerAI/
runtimes/venv/

# Python
**/__pycache__/
**/cache_dir/
**/cache/
**/runs/

# AI
python/outputs/

python/test/

# Model outputs
assets/model_outputs/**/*
!assets/model_outputs/README.md

src/config.json